@use './assets/sass/abstracts/' as *;
@use './assets/sass/styles/buttons';
@use './assets/sass/styles/project-cards';
@use './assets/sass/styles/reset';
@use './assets/sass/styles/text';

:root {
  font-family: $text;
  color: $secondary;
  background-color: $primary;
  padding: 0 5%;
}

section {
  padding: 55px 0;
}

h1 {
  span {
    color: $accent;
  }
}

h2 {
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px dashed $alternate;
}

p {
  color: $alternate;
}

#hello {
  img {
    display: block;
    mask-image: linear-gradient(to bottom, $primary 80%, transparent);
    width: 100%;
    max-width: 550px;
    aspect-ratio: 1;
    margin: auto;
    margin-bottom: 20px;
  }
}
