@use './assets/sass/abstracts/' as *;
@use './assets/sass/styles/reset';

:root {
  font-family: $text;
  color: $secondary;
  background-color: $primary;
}

body {
  @include center-contents;

  flex-direction: column;
  height: 100vh;
}

#changing-element,
#change-button {
  border-radius: 5px;
}

#changing-element {
  @include center-contents;

  background-color: $secondary;
  font-size: 2rem;
  font-weight: $semi-bold;
  color: $primary;
  width: 25%;
  min-width: 200px;
  aspect-ratio: 1;
}

#change-button {
  font-size: 1.5rem;
  color: $secondary;
  padding: 20px 12px;
  margin-top: 20px;
  border: 2px solid $accent;
  transition: background-color 0.2s;
}

#change-button:hover {
  background-color: $accent;
  color: $primary;
}

#change-button:active {
  background-color: $secondary;
  border-color: $secondary;
}
