@use '../abstracts' as *;

.menu-button,
.navbar {
  position: fixed;
}

.menu-button,
.navlink {
  color: $alternate;
  transition: 0.2s;
}

.menu-button {
  top: 20px;
  right: 5%;
  background-color: color-mix(in srgb, $quaternary 50%, transparent);
  font-size: 40px;
  padding: 5px;
  padding-bottom: 0;
  border-radius: 25%;
}

.menu-button:hover {
  background-color: $quinary;
}

.menu-button:active {
  background-color: $tertiary;
}

.navbar,
.navlinks {
  @include center-contents(false);

  flex-direction: column;
}

.navbar {
  top: -100vh;
  justify-content: center;
  visibility: hidden;
  background-color: color-mix(in srgb, $primary 90%, transparent);
  background-image: url('/deco-b.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(15px);
  width: 100vw;
  height: 100vh;
  padding: 30px 20px 5px;
  z-index: 99;
  transition: transform 0.5s;

  img {
    display: block;
    width: 100%;
    max-width: 192px;
    max-height: 30%;
  }
}

.nav-drop {
  transform: translateY(100vh);
}

.nav-visible {
  visibility: visible;
}

.navlinks {
  justify-content: space-evenly;
  height: 70%;
  padding-bottom: 50px;
}

.navlink {
  font-size: 2rem;
  color: $alternate;
}

.navlink:hover {
  color: $secondary;
}

.navlink:active {
  text-shadow: 1px 1px 2px $secondary;
}

@media only screen and (orientation: landscape) {
  .navbar {
    background-size: auto;
  }

  .navlinks {
    padding-bottom: 20px;
  }
}
