@use '../abstracts' as *;

#project-cards {
  @include global-margin;
}

.project-card,
.project-image {
  width: 100%;
}

.project-card {
  margin-top: 80px;
}

.project-card:first-child {
  margin-top: 50px;
}

.project-image {
  display: block;
  aspect-ratio: 16 / 9;
  margin-bottom: 30px;
}

.project-info {
  h3 {
    font-weight: $semi-bold;

    span {
      color: $accent;
    }
  }

  p {
    margin-bottom: 15px;
  }
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.project-tag {
  background-color: $quaternary;
  font-weight: $medium;
  color: $alternate;
  padding: 12px;
  border-radius: 3px;
  transition: transform 0.2s;
}

.project-tag:hover {
  transform: scale(1.2);
}

.project-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@include media(600px) {
  .project-buttons {
    flex-direction: row;

    .github-button {
      width: 35%;
    }

    .secondary-button {
      width: 65%;
    }
  }
}

@include media(768px) {
  #projects h2 {
    margin-bottom: 0;
  }

  .project-card {
    border: 1px dashed $alternate;
    padding: 50px 7.5%;
  }

  .project-card:first-child {
    margin-top: 0;
    border-top: none;
  }
}

@include media(1024px) {
  #projects h2 {
    text-align: left;
    padding-left: 5%;
  }

  .project-card {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .project-info-container {
    @include center-contents;

    flex-direction: row-reverse;
    gap: 7.5%;
  }

  .project-image-frame {
    width: 60%;
  }

  .project-info {
    width: 40%;
  }

  .project-buttons {
    width: 55.5%;
    margin-left: auto;
  }
}
